#sidebar div#header-wrapper {
  background: whitesmoke;
}

#site-title {
  font-size: large;
  font-weight: bolder;
}

a code {
  color: inherit;
  background: inherit;
  border: inherit;
}

div.mermaid svg {
  height: inherit;
}

div#body-inner h5 {
  margin-bottom: 1rem;
}

div#body-inner ul, ol {
  margin-top: 0;
}

div#body-inner ul li a img {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0.25em;
}

/* Make pages full-height, so that the license footer can be pinned to the bottom. */
section#body,
div.padding {
  min-height: calc(100vh - 4.5rem);
}

div#license-trademark {
  color: #b3b3b3;
  font-size: 13px;
  background-color: #322a38cf;
  padding: 1rem 6rem;
  /* Pin the license footer to the bottom of each page. */
  position: relative;
  bottom: 0px;
  width: 100%;
}
