{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<a id="logo" href="{{"/" | relURL}}"><img src="{{"images/logo.png" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" /></a><br />
<div id="site-title">{{ .Site.Title }}</div>
